* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .banner_home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("images/background_home_page.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .logo {
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  
  .navbar {
    width: 85%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 35px 0;
    display: flex;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
  }
  
  .navbar ul li a:hover {
    color: rgb(94, 255, 0);
    text-decoration: none;
  }
  
  .navbar ul li a:hover::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:white;
    animation: underline 0.3s forwards ease;
  }
  
  @keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .content_home{
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
  }
  
  .content_home h1{
    font-size: 70px;
    margin-top: 80px;
    color: #dcdcc2;
  }
  
  .content_home p{
    margin: 20px auto;
    font-weight: bold;
    line-height: 25px;
    color: #ddded2;
  }

  .content_home h3  {
    font-size: 20px;
    margin-top: 350px;
    color: #dcdcc2;
  }
  
  .button {
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    color: #fff; /* White text color */
    background: linear-gradient(45deg, #ff8800, #ff0066); /* Initial gradient background */
    transition: background 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), margin-top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    margin-top: 20px;
    display: inline-block;
    margin-right: 16px;
  }
  
  .button:hover {
    background: linear-gradient(45deg, #ff0066, #ff8800); /* Hover gradient background */
  }
  
  .services-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .service-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .dashboard_content {
    margin-top: 20px; /* Add margin at the top of dashboard content */
  }
  
  .metrics {
    text-align: center;
    margin-top: 20px; /* Add margin at the top of metrics */
  }
  
  .metric {
    display: inline-block;
    margin: 0 10px;
    background-color: #44505d;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .metric:hover {
    transform: scale(1.05);
  }
  
  .metric h2 {
    font-size: 18px;
    color: #bebea1;
  }
  
  .metric p {
    font-size: 24px;
    font-weight: bold;
    color: #ddded2;
    margin-top: 10px; /* Add margin at the top of metric paragraphs */
  }
  
  /* Version avec la table centrée horizontalement */
  
  .schedule_overview {
    width: 60%;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    background-color: #44505d;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    text-align: center; /* Centrage du texte */
  }
  
  .schedule_overview h2 {
    font-size: 24px;
    color: #bebea1;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    white-space: nowrap;
    margin: auto; /* Centrage horizontal */
  }
  
  thead {
    background-color: #44505d;
    color: #ffffff;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr:hover {
    background-color: #dddddd;
    transition: background-color 0.3s ease;
  }
  form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="email"] {
    width: 15%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #cecece;
} 

.form-messages {
  margin-bottom: 20px;
}

